*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color: crimson;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: black;
    transition: 0.5s ease-in-out;
    transition-delay: 0.3s;
    border-radius: 8px;
}

.a-navbar {
    color: yellow;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: rgb(220, 235, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: rgb(238, 7, 7);
    width: 720px;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-container {
    width: 0px;
    height: 0px;
}

.container-footer {
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}